<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <section class="">
        <div class="container text-center text-md-start" style="margin-top: 4rem;">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="../../../assets/images/logo.png" alt="">
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <div class="mt-4">
                        <a href="" class="me-2 text-reset">
                            <img src="../../../assets/images/Youtube.png" alt="">
                        </a>
                        <a href="" class="me-2 text-reset">
                            <img src="../../../assets/images/Instagram.png" alt="">
                        </a>
                        <a href="" class="me-2 text-reset">
                            <img src="../../../assets/images/Twitter.png" alt="">
                        </a>
                        <a href="" class="me-2 text-reset">
                            <img src="../../../assets/images/Facebook.png" alt="">
                        </a>
                        <a href="" class="me-2 text-reset">
                            <img src="../../../assets/images/Linkdin.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" style="color: var(--theme-black)">
                        Quick Links
                    </h6>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">About Us</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Contact Us</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Products</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Login</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Sign Up</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" style="color: var(--theme-black)">
                        Custom Area
                    </h6>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">My Accounts</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Tracking List</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Term</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">Privacy Policy</a>
                    </p>
                    <p class="mb-2">
                        <a href="#!" class="text-reset">My Cart</a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" style="color: var(--theme-black)">
                        Contact Info
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>

                    <div class="row mt-4">
                        <div class="col-md-6 mb-4">
                            <img src="../../../assets/images/Apple Btn.png" alt="">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="../../../assets/images/Play Btn.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center p-4" style="font-size: 0.9em; color: #282828;">
                <div class="col-md-6 pt-2 text-md-start text-sm-center">
                    <p>
                        ©2015 - 2021 <b style="color: var(--theme-yellow);">Jusako.</b> All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-md-end text-center">
                    <img class="payment" src="../../../assets/images/Payment Mathod.png" alt="">
                </div>
            </div>
        </div>
    </section>
</footer>