<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-12 logo">
                <img class="logo-brand" src="../assets/images/logo.png" alt="">
            </div>
            <div class="col-xl-6 col-md-9 col-12">
                <div class="row category position-relative">
                    <div class="col-sm-4 col-5 b-right">
                        <p class="m-0 carret fw-bold">All Categories</p>
                    </div>
                    <div class="col-sm-8 col-7">
                        <input type="text" placeholder="Search prudcts ..." class="search-products">
                    </div>
                    <div class="search-btn position-absolute"></div>
                </div>
            </div>
            <div class="col-xl-3 col-12 cart-items">
                <div class="fw-bold cart-no">
                    <img src="../assets/images/cart.png" alt="">
                    <span class="badge bg-yellow">4</span>
                </div>
                <div class="fw-bold price">$909.00</div>
            </div>
        </div>
    </div>
</section>