<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-xxl-1 col-xl-2 col-md-3 col position-relative">
                <p class="white-text language carret">English</p>
            </div>
            <div class="col-xxl-2 col-xl-2 col-md-3 col">
                <p class="white-text carret">Currency: USD</p>
            </div>
            <div class="offset-xxl-6 offset-xl-5 col-xxl-3 col-md-6 col-xl-3 col">
                <p class="white-text toll-free float-end">Call us toll free: <strong>+1888 234 5678</strong></p>
            </div>
        </div>
    </div>
</section>