<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 news-message p-4">
                <h2>Sign Up for Newsletter</h2>
            </div>
            <div class="col-md-7 col-sm-12 news-email p-4">
                <div class="row">
                    <div class="col-7 col-md-9" style="padding-right: 0 !important;">
                        <input class="form-control" type="text" placeholder="Enter your email address">
                    </div>
                    <div class="col-3" style="padding-left: 0 !important;">
                        <button class="btn-blue">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>