<section class="navbar-design position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 browse">
                <p>Browse Categories</p>
            </div>
            <div class="col-lg-9 col-md-12 right">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li class="carret">Hop</li>
                        <li>Blog</li>
                        <li class="carret">Pages</li>
                        <li>CONTACT US</li>
                    </ul>
                    <div class="col-12 d-none d-md-block"></div>
                </nav>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block offset-color"></div>
</section>