<section class="latest mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row pb-2">
                    <div class="col-md-9 text-start fw-bold">
                        Latest Products
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                        <img src="../../../assets/images/carret.png" alt="" style="transform: rotate(90deg);">
                        <img src="../../../assets/images/carret.png" alt="" style="transform: rotate(-90deg);">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 latest-products position-relative" *ngFor="let tc of topCategories">
                        <div>
                            <div style="position: absolute;left: 50%;top: 50%;transform: translateY(-50%);">
                                <h6 style="color: var(--theme-yellow);">{{ tc.title }}</h6>
                                <img class="mt-1" src="../../../assets/images/star.png" alt="">
                                <ul>
                                    <li>{{ tc.price }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 position-relative mb-3" style="background-color: #eeeeee;">
                        <div style="padding: 6rem;">
                            <h6 style="color: var(--theme-gray);margin-bottom: 0.4em !important;font-size: 0.8em;">Sale
                                Offer <span style="color: var(--theme-red);">- 20%</span> Off This Week</h6>
                            <h4 class="mt-3 mb-1" style="color: var(--theme-black);text-transform: uppercase;">
                                Accessories</h4>
                            <h4 class="mb-3" style="color: var(--theme-black);text-transform: uppercase;">Naturally
                                Colorful 2021</h4>
                            <p style="color: var(--theme-gray); font-size: 0.8em;">
                                Starting at <b style="color: var(--theme-yellow); font-size: 1em;">$1024.00</b>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 px-3 position-relative" *ngFor="let product of products; let current = index;"
                        style="border-width: 1px; border-style: solid; padding-top: calc(var(--bs-gutter-x)/ 2);padding-bottom: 1em"
                        [ngStyle]="{'border-color': product.onSale ? 'var(--theme-yellow)' : '#ececec'}">
                        <img class="position-absolute" *ngIf="product.onSale" style="top: 0; right: 0;"
                            src="../../../assets/images/sale.png" alt="sale">
                        <img class="position-absolute" *ngIf="product.isNew" style="top: 0; right: -1px;"
                            src="../../../assets/images/new.png" alt="new">
                        <img class="w-100" src="../../../assets/images/products-img.png" alt="">
                        <h6 class="mt-3 mb-1"
                            [ngStyle]="{ 'color': product.onSale ? 'var(--theme-yellow)' : 'var(--theme-gray)' }">{{
                            product.title }}
                        </h6>
                        <p class="pb-1">
                            <img src="../../../assets/images/star.png" alt="">
                        </p>
                        <span class="new" *ngIf="product.price.new">{{ product.price.new }}</span>
                        <span class="old"
                            [ngStyle]="{ 'text-decoration': product.price.new ? 'line-through' : 'none', 'font-size': product.price.new ? '16px' : '18px', 'font-weight': product.price.new ? '400' : '600' }">
                            {{ product.price.old }}
                        </span><br>
                        <button class="btn-add-cart mt-3" [class.on-sale]="product.onSale">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>